/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}



.container {
	width: 900px;
	margin: auto;
}

header nav {
	display: inline-block;
	margin-top: 40px;
}

header .logo {
	/* margin-left: 130px; */
}

header nav a {
	margin: 0 20px;
	padding-left: 16px;
	color: LightGrey;
	text-decoration: none;
}
.cta {
    display: inline-block;
}

.cta div {
	display: inline-block;
	box-sizing: border-box;
	width: 400px;
	vertical-align: top;
}
.cta img {
	width: 375px;
	margin-left: 70px;
    padding-top: 100px;
	
}

.cta-box{
	padding-bottom: 60px;
}
.cta h1 {
	display: inline-block;
    font-size: 70px;
    text-align: center;
    padding-left: 100px;
    margin-top: 165px;
}

.cta a {
	border: 1px solid black;
    padding: 7px 37px 7px 33px;
    text-decoration: none;
    color: black;
	display: inline-block;
	margin-left: 177px;

}

h1 button {
	display: block;
}

hr {
	width: 876px;
	margin-right: 20px;
	margin-top: 70px;
	margin-bottom: 30px;
}

.main-content {
	margin: 20px 1%;
	display: inline-block;
	width: 45%;
	border: 3px solid black;
	vertical-align: top;
}

.top-main-content section {
	margin: 20px 0;
	display: inline-block;
	width: 440px;
}

.top-main-content .features {
	margin: 10px;
	width: 450px;
	display: inline-block;
}

.top-main-content .about {
	display: inline-block;
	width: 400px;
}

.middle-main-content {
	margin: 40px 0px;
	display: inline-block;
	width: 876px;
}

.middle-main-content .services {
	display: inline-block;
	width: 288px;
}

.middle-main-content .product {
	display: inline-block;
	width: 288px;
}

.middle-main-content .vision {
	display: inline-block;
	width: 288px;
}


.main-content img {
	margin: 0px 40px 0px 40px;
}

#bottomLine {
	margin-top: 14px;
    margin-bottom: 40px;
}

.contact {
	padding-left: 20px;
}

footer {
	text-align: center;
	margin-top: 80px;
}